* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 200px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

main {
  background-color: #e8eddf;
  width: 100%;
}

.main_heading {
  color: white;
  padding-top: 10px;
  margin-bottom: 10px;
  background-color: #333533;
  height: 50px;
  font-family: "Times New Roman", Times, serif;
}
img {
  border: 5px solid #242423;
  border-radius: 5px;
}
.sub_heading {
  color: #242423;
  margin: 10px 0px 20px 0px;
  text-decoration: underline;
  font-family: "Times New Roman", Times, serif;
}
article {
  text-indent: 50px;
  text-align: justify;
  margin: 20px 20px;
}
h2 {
  margin-bottom: 10px;
  text-decoration: underline;
  font-family: "Times New Roman", Times, serif;
}
a {
  text-decoration: none;
}
